doctype html
html(lang="zxx")
    head
        title Главная страница
        link(rel="favicon" href="/favicon.ico")
        link(rel="stylesheet" href="/style.css")
        meta(charset="utf-8")
        <meta name="viewport" content="width=device-width">
    body
        block body